body {
    padding-top: 70px;
    font-family: Arial, sans-serif;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-text h1 {
    font-size: 48px;
}

.card i {
    font-size: 40px;
    color: #0d6efd;
    margin-bottom: 10px;
}
